[submodule ".emacs.d/site-lisp/snippets"]
	path = .emacs.d/site-lisp/snippets
	url = git@github.com:nibua-r/snippets.git
[submodule ".emacs.d/site-lisp/yasnippet"]
	path = .emacs.d/site-lisp/yasnippet
	url = git@github.com:nibua-r/yasnippet.git
[submodule ".emacs.d/site-lisp/rinari"]
	path = .emacs.d/site-lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule ".emacs.d/site-lisp/inf-ruby"]
	path = .emacs.d/site-lisp/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "install/android-mode"]
	path = install/android-mode
	url = git@github.com:nibua-r/android-mode.git
[submodule "install/auto-complete"]
	path = install/auto-complete
	url = git@github.com:nibua-r/auto-complete.git
[submodule ".emacs.d/site-lisp/textile-mode"]
	path = .emacs.d/site-lisp/textile-mode
	url = https://github.com/emacsmirror/textile-mode.git
[submodule ".emacs.d/site-lisp/nxhtml"]
	path = .emacs.d/site-lisp/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
