[submodule ".emacs.d/site-lisp/snippets"]
	path = .emacs.d/site-lisp/snippets
	url = https://github.com/nibua-r/snippets.git
[submodule ".emacs.d/site-lisp/yasnippet"]
	path = .emacs.d/site-lisp/yasnippet
	url = https://github.com/nibua-r/yasnippet.git
[submodule ".emacs.d/site-lisp/rinari"]
	path = .emacs.d/site-lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "install/android-mode"]
	path = install/android-mode
	url = https://github.com/nibua-r/android-mode.git
[submodule "install/auto-complete"]
	path = install/auto-complete
	url = https://github.com/nibua-r/auto-complete.git
[submodule ".emacs.d/site-lisp/textile-mode"]
	path = .emacs.d/site-lisp/textile-mode
	url = https://github.com/emacsmirror/textile-mode.git
[submodule ".emacs.d/site-lisp/nxhtml"]
	path = .emacs.d/site-lisp/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
        ignore = untracked
[submodule ".emacs.d/site-lisp/magit"]
	path = .emacs.d/site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/site-lisp/custom-java-style"]
	path = .emacs.d/site-lisp/custom-java-style
	url = https://github.com/nibua-r/custom-java-style.git
[submodule ".emacs.d/site-lisp/lua-mode"]
	path = .emacs.d/site-lisp/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule ".emacs.d/site-lisp/yaml-mode"]
	path = .emacs.d/site-lisp/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
