[submodule ".emacs.d/snippets"]
	path = .emacs.d/snippets
	url = git@github.com:nibua-r/snippets.git
[submodule ".emacs.d/yasnippet"]
	path = .emacs.d/yasnippet
	url = git@github.com:nibua-r/yasnippet.git
[submodule ".emacs.d/rinari"]
	path = .emacs.d/rinari
	url = https://github.com/eschulte/rinari.git
